<!DOCTYPE html>
<html lang="en">
  
{% include 'header.html' %}
  
  <body class="">

    {% include 'left.html' %}

 



			<div class="main-content">


				<div class="page-content">

<!--     <a href="#"><strong>/</strong></a> <a href="/web/main_project"><strong>所有项目</strong></a> 
      <a href="#"><strong>/</strong></a> <a href="/web/alivehost?ip_addr={{ ip_addr }}"><strong>{{ ip_addr }}</strong>
 -->
      </a> 

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">{{ ip_addr }}服务统计</div>
					<div class="panel-body">
						<div class="alert alert-info" role="alert">
							<span class="glyphicon glyphicon-flash"></span>
							开放端口总数：
							<span id="total-port" class="badge">{{ port_count}}</span>
						</div>
 
					</div>
				</div>
			</div>
		</div>
 
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">开放端口</div>
					<div class="panel-body">
						<table id="ports-table" class="table table-hover">
							<thead>
								<tr>
									<th>IP</th>
									<th>端口</th>
								</tr>
							</thead>
							<tbody>

 
			                <tr>
			                    <td>{{ ip_addr }}</td>

			                  	<td> 
			                  	{% for i  in obj_all %}

			                   	<span data-toggle="tooltip" title="" class="label label-success port">{{ i.port }}</span>
			                   	{% endfor %}
			                   	</td>

			                   
			                </tr>
			 
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


 
					 
						<button type="button" class="btn btn-success"  onclick="window.location = '/web/ipdetail?ip_addr={{ ip_addr }}'"> MORE</button>
	</div>
  
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/js/fna/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/fna/bootstrap.min.js"></script>
	<script src="/static/js/fna/Chart.min.js"></script>
 

 
  
</body>
</html>