  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      Kscan
    </title>
 
          <link rel="stylesheet" href="/static/auth/css/vendor.css">
    <link rel="stylesheet" href="/static/auth/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/static/auth/css/corp.css">
     <link rel="stylesheet" href="/static/auth/css/font-awesome.css">
      <script type="text/javascript" src="/static/auth/js/jquery.js"></script>
      <script src="/static/auth/js/vendor.js"></script>
      <script src="/static/auth/js/corp.taskconfig.add.js"></script>
  </head>